@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GummiBearKingdom.Models.Product


<h2>Details</h2>
<hr />
<h2>@Html.DisplayFor(model => model.Name)</h2>
<h4>@Html.DisplayFor(model => model.Cost)</h4>
<h4>Made in @Html.DisplayFor(model => model.CountryOfOrigin)</h4>

<p>
    @Html.ActionLink("Delete", "Delete", new { id = Model.ProductId, @class ="red"}) | 
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId, @class = "red" })
</p>
