<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Berkshire+Swash" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="~/scripts/JavaScript.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container flex-box">
            <div class="row">
                <div class="col-sm-5">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Gummi Bear <span class="kingdom">Kingdom</span></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <ul class="nav navbar-nav navbar-right small-nav">
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Store Locator</a></li>
                            <form class="navbar-form navbar-left">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control search-bar" placeholder="What do you have a taste for?">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">Go!</button>
                                        </span>
                                    </div><!-- /input-group -->
                                </div>
                            </form>
                       </ul>
                    </div>
                    <div class="row">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">About</a></li>
                            <li><a href="#">News & Events</a></li>
                            <li><a href="#">Factory Tours</a></li>
                            <li><a href="#">Customer Service</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                </div>
            </div>
       </div>
</nav>
   
    <div class="container">
        <div class ="row">
            <nav>
                <ul class="nav navbar-nav secondary-nav">
                    <li>
                        <button class="btn btn-info @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "selected" : "")">
                            @Html.ActionLink("GUMMIES", "Index", "Products")
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-info @(ViewContext.RouteData.Values["Action"].ToString() == "Create" ? "selected" : "")">
                            @Html.ActionLink("CREATE NEW", "Create", "Products")
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4 class="bold top-padding">Shop By Type</h4>
                <ul class="shop-by-type">
                    <li><a href="#">All Gummies</a></li>
                    <li><a href="#">Individual Flavors</a></li>
                    <li><a href="#">Gummi Rings</a></li>
                    <li><a href="#">Sugar Free Gummies</a></li>
                    <li><a href="#">Holiday & Seasonal</a></li>
                    <li><a href="#">New Items</a></li>
                    <li><a href="#">Top Sellers</a></li>
                </ul>
                

                <h4 class="bold top-padding">By Taste</h4>
                <ul class="shop-by-type">
                    <li><a href="#">Chocolatey</a></li>
                    <li><a href="#">Creamy Indulgence</a></li>
                    <li<a href="#">Fresh & Fruity</a></li>
                    <li><a href="#">Hot to Trot</a></li>
                    <li><a href="#">Sourpuss</a></li>
                </ul>
            </div>
            <div class="render-body col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
